
$dark-blue:      #0275d8;
$very-dark-blue: #014c8c;
$light-yellow:   #fcf8e3;
$light-green:    #dff0d8;
$light-blue:     #c1e1ff;


@media (min-width: 48em) {
    html {
	font-size: 18px;
    }
}

@media print {
    html, body { font-size: 12px; }
    .container { max-width: 100%; }
    /* Expand all collapse sections for printed version: */
    .collapse {
	display: block !important;
	height: auto !important;
    }
    /* Remove large black borders around expert badge: */
    .badge-pill { border-width: 0px; }
    /*
     * Add support for different layouts when printing.  The following are
     * copied from the bootstrap.css *-sm-* classes with "sm" changed to
     * "print" in the class names.
     */
    .col-print-1, .col-print-2, .col-print-3, .col-print-4, .col-print-5, .col-print-6, .col-print-7, .col-print-8, .col-print-9, .col-print-10, .col-print-11, .col-print-12, .col-print, .col-print-auto {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-sm {
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
        -ms-flex-positive: 1;
            flex-grow: 1;
        max-width: 100%;
    }
    .col-sm-auto {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-sm-2 {
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-sm-3 {
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-sm-6 {
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-sm-9 {
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-sm-12 {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
    }
    .order-sm-1 {
        -ms-flex-order: 1;
            order: 1;
    }
    .order-sm-2 {
        -ms-flex-order: 2;
            order: 2;
    }
    .order-sm-3 {
        -ms-flex-order: 3;
            order: 3;
    }
    .order-sm-4 {
        -ms-flex-order: 4;
            order: 4;
    }
    .order-sm-5 {
        -ms-flex-order: 5;
            order: 5;
    }
        .order-sm-6 {
        -ms-flex-order: 6;
            order: 6;
    }
    .order-sm-7 {
        -ms-flex-order: 7;
            order: 7;
    }
    .order-sm-8 {
        -ms-flex-order: 8;
            order: 8;
    }
    .order-sm-9 {
        -ms-flex-order: 9;
            order: 9;
    }
    .order-sm-10 {
        -ms-flex-order: 10;
            order: 10;
    }
    .order-sm-11 {
        -ms-flex-order: 11;
            order: 11;
    }
    .order-sm-12 {
        -ms-flex-order: 12;
            order: 12;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
    margin-top: 1.5rem;
}

h1 {
    margin-bottom: 1.5rem;
}

h2 {
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.667rem;
    margin-bottom: 1rem;
}

/* Style to replace the "fa" class and avoid <i></i> markup for Font Awesome
.some-class::before {
display: block;
float: left;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
transform: translate(0, 0);
margin-right: 0.5em;
}
*/

.custom-select {
    background-color: $light-blue;
    font-weight: bold;
}

.rcard-listitem {
    padding: 0.5rem;
    background-color: $light-yellow;
    font-weight: bold;
}

.rcard-popover {
    padding: 1.25rem 1.25rem 0.25rem 1.24rem;
}

.rcard-popover:hover {
    background-color: $light-blue;
}

.rcard-popover > .fa-ul {
    margin-left: 1.5rem;
    margin-bottom: 0;
}

.rcard-popover-handle {
    text-align: center;
    color: $dark-blue;
}

.rcard-popover:hover .rcard-popover-handle {
    color: $very-dark-blue;
}

.card-columns {
    @media (min-width: 576px) {
        column-count: 2;
    }
    /* @media (min-width: 768px) {
        column-count: 2;
    } */
    @media (min-width: 992px) {
        column-count: 3;
    }
}

.popover-header {
    color: #ffffff;
    background-color: $dark-blue;
    border-bottom-color: $light-yellow;
}

.popover, .popover-content {
    background-color: $light-yellow;
}

.popover-header {
    margin-top: 0;
}

.popover.bs-popover-top .arrow::after, .popover.bs-popover-auto[x-placement^="top"] .arrow::after {
    border-top-color: $light-yellow;
}

.popover.bs-popover-bottom .arrow::after, .popover.bs-popover-auto[x-placement^="bottom"] .arrow::after {
  border-bottom-color: $dark-blue;
}

.popover.bs-popover-bottom .popover-header::before, .popover.bs-popover-auto[x-placement^="bottom"] .popover-header::before {
  border-bottom-color: $dark-blue;
}


/* Add chevron-down before expanded section: */
.collapse-toggle .r-collapse-control::before {
    content: "\f078";
    display: block;
    float: left;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    margin-right: 0.5em;
}

/* Add chevron-right before collapsed section: */
.collapsed .r-collapse-control::before {
    content: "\f054";
    display: block;
    float: left;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    margin-right: 0.5em;
}

.r-collapse-control {
    font-size: 1.667rem;
}

.r-collapse-control:hover {
    color: $very-dark-blue;
}

.r-skills-collapse, .r-exp-collapse {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.r-skills-collapse {
    color: $dark-blue;
}

.r-skills-collapse:focus {
    outline: none;
    text-decoration: none;
    color: $dark-blue;
}

.r-exp-collapse .r-collapse-control {
    color: $dark-blue;
}

.r-exp-collapse:hover .r-collapse-control {
    color: $very-dark-blue;
}

.r-exp-collapse:hover,
.r-skills-collapse:hover {
    color: $very-dark-blue;
    background-color: $light-blue;
    text-decoration: none;
    cursor: pointer;
}

.r-job-title {
    color: $dark-blue;
}

.r-exp-collapse:hover .r-job-title {
    color: $very-dark-blue;
}

.green { color: #008000; }

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555555;
    min-height: 75rem;
    position: relative;
}

.alert-with-icon {
    overflow: hidden;
}

.alert .alert-icon {
    width: 3.5rem;
    float: left;
}

.alert .alert-content {
    width: 80%;
    float: left;
}

.resume-sidebar {
    margin-top: 2rem;
}

.resume-header {
    margin-bottom: 2rem;
}

.print-warning {
    margin-bottom: 2rem;
}

.vertical-center {
    display: flex;
    align-items: center;
}

ul ul {
    list-style-type: square;
}

#scrollspy-padding {
    padding-bottom: 0px;
}

